img{
    width: 40%;
    height: 10%;
    margin: auto;
}
.box{
    height: fit-content;
    width: fit-content;
    margin: auto;
    justify-content: center;
    text-align: center;
}
#title{
    width: 40%;
}

form{
    text-align: center;
    display: block;
}

#submit{
    width: 30%;
    font-size: large;
    background-color: rgb(43, 255, 0);
    outline: none;
}
#submit:hover{
    background-color: rgb(167, 255, 150);
}
fieldset{
    width: 60%;
    margin:auto ;
}